tinydb>=4.4.0
pyrogram
telethon
TgCrypto
motor
requests
aiofiles
dnspython
Pillow>=5.3.0
py-carbon
glitchart
pygments
google_trans_new
pybase64>=0.4.0
emoji
search-engine-parser>=0.4.2
youtube-search-python>=1.3.2
telegraph 
GoogleNews
youtube-dl>=2021.1.8
youtube-search-python>=1.3.2
youtube-search>=1.1.1
ffprobe
ffmpeg
heroku3 
play-scraper
sqlalchemy==1.3.23
apscheduler
cryptg
psycopg2-binary
tswift
covid
nekos.py
bing_image_downloader
tpblite
pornhub-api
